/* .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */

.mat-form-field {
  width: 220px;
}

form {
  margin-bottom: 20px;
}

form > * {
  margin: 5px 0;
}

button {
  margin-left: 8px !important;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: auto !important;
  margin-top: 10px;
}

.full-width {
  width: 100%;
}

.isActive {
  border: 1px solid green;
}

.isMatched {
  color: rgb(30, 90, 30);
  font-weight: bolder;
}

.backrnd {
  background-color: honeydew;
}

.isContained {
  text-decoration: underline;
}
