<div class="row">
  <div class="col-sm-12">
    <form class="row">
      <div class="col-sm-6">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Source Paper</mat-label>
          <mat-select [value]="sourcePaper">
            <mat-option
              [value]="p"
              (onSelectionChange)="onPaperSelectedChanged($event, 1)"
              *ngFor="let p of sourcePapers"
              >{{ p.id }} {{ p.title }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div *ngIf="sourcePaper" class="backrnd">
          <h4 >Abstract</h4>
          {{ sourcePaper?.summary }}
        </div>
      </div>

      <div class="col-sm-6">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Target Paper</mat-label>
          <mat-select [value]="targetPaper">
            <mat-option
              [value]="p"
              (onSelectionChange)="onPaperSelectedChanged($event, 2)"
              *ngFor="let p of targetPapers"
              >{{ p.id }} {{ p.title }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <div *ngIf="targetPaper" class="backrnd">
          <h4 >Abstract</h4>
          {{ targetPaper?.summary }}
        </div>
      </div>


    </form>

    <div [hidden] ="sourcePaper == null || targetPaper == null">
      
    </div>
    <mat-divider></mat-divider>
    <!-- <p class="float-right" >
      <button [disabled] ="sourcePaper == null || targetPaper == null"  mat-raised-button color="primary"(click)="comparePapers()">Compare</button>
    </p> -->

    <mat-progress-bar
    [hidden]="hideSpinner"
    mode="indeterminate"
    ></mat-progress-bar>
  </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div  style="height: 500px; overflow-y: auto;">
          <h5 [hidden]="false">Source</h5>
          <mat-progress-bar
          [hidden]="hideSourceSpinner"
          mode="indeterminate"
          ></mat-progress-bar>

          <mat-card  *ngFor="let p of sourceParagraphs ; let indexOfelement=index;" class="mb-2 {{p.isInSpotlight == true? 'isActive' : ''}}">                             
            <div [hidden]="p.sentence.length < 100">
              <p class="paragraph">Paragraph {{indexOfelement+1}}</p>
              <br>
              <p>{{p.sentence}}</p> 
              <mat-card-actions>
                <button [disabled]="targetParagraphsCopy == undefined || targetParagraphsCopy.length == 0" 
                color="primary"(click)="getParagraphResult(indexOfelement)" mat-raised-button>Spotlight</button>
              </mat-card-actions>
            </div>
          </mat-card>  
        </div>        
    </div>
    <div class="col-sm-6">
        <div style="height: 900px; overflow-y: auto;">
          <h5 [hidden]="false">Target <button [hidden]="!isInCompareMode" class="pull-right" color="secondary" mat-button (click)="resetTargetParagraphs()">Reset</button> </h5>
          
          <mat-card  *ngFor="let p of targetParagraphsCopy; let indexOfelement=index;" class="mb-2">    
            <div [hidden]="p.sentence.length < 100">
              
              <mat-accordion [hidden]="!isInCompareMode || hideExplanations">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <mat-progress-bar class="green-progress" mode="determinate" value="{{p.score}}"></mat-progress-bar>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div *ngIf="p.result">
                      <p>
                        {{p.result.topicModel.explanation}}
                      </p>
                      <p>
                        {{p.result.doc2vec?.explanation[1]}}
                      </p>
                      <p>
                        {{p.result.ttr}}
                      </p>
                    </div>
                  </mat-expansion-panel>
              </mat-accordion>         
              <br>   
              <p class="paragraph">Paragraph {{p.originalParagraphId? p.originalParagraphId +1: indexOfelement+1 }}</p>
              <p [hidden]="hideExplanations">{{p.score | number : '1.2-2'}}</p>
              <p>
                <span *ngFor="let sentence of p.sentence.split('.'); let indexOfSentence=index" 
                  class="{{p.result?.doc2vec?.containment.length> indexOfSentence && p.result?.doc2vec?.containment[indexOfSentence] == 1 && !hideExplanations? 'isContained' : ''}}">
                  <span *ngIf="indexOfSentence != 0">.</span>  
                  <span *ngFor="let word of sentence.split(' '); let indexOfWord=index" class="{{p.result?.commonWords.indexOf(word) > 0 && !hideExplanations? 'isMatched' : ''}}"> {{word}}</span>
                </span>
              </p> 
            </div>
          </mat-card>
        </div>         
    </div>
</div>